    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
/* Easy Slider */
#slider{
	float: left;
	width:460px; 
	height:300px;
}
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:460px;
		height:300px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(btn_next.gif) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin: -30px 0px 0px 20px;
		padding: 0;
		height:28px;
		float: left;
		}
	ol#controls li{
		margin: 0px 0px 0px 0px; 
		padding:0;
		float:left;
		list-style:none;
		height:18px;
		line-height:18px;
		}
	ol#controls li a{
		float:left;
		height:18px;
		line-height:18px;
		background: url(bg_gray5.png) repeat;
		color: #FFF;
		padding:0 5px;
		text-decoration:none;
		font-size: 10px;
		}
	ol#controls li.current a{
		background: url(bg_white.png) repeat;
		color: #333;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */