/* Begin Typography & Colors */
body {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	background: url(bg000000.jpg) repeat;
	color: #4b3e2a;
	margin: 0px;
	min-width: 995px;
	}

h1#hide{
	width: 450px;
	height: 1px;
	overflow: hidden;
	font-size: 12px;
	color: #e4e3d1 !important;
	
}
#content {
	font-size: 1.2em;
	margin-bottom: 30px;
	}
#content ul.list {
	padding-left:0px;
	display: block;
	margin-left: 0;
	list-style: none;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: .05em;
	text-indent: 1.5em;
}

#content ul.list li{
	padding-left:5px;
	margin-left:0;
	letter-spacing: .05em;
}
h1, h2, h3 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	}
#header-b {
width:666px;
height:106px;
margin: 0 auto;
margin-bottom: 200px;
}

h1 {
	font-size: 44px;
	text-align: center;
	color: #907F37;
	background: url(h1.jpg) no-repeat center bottom;
	margin: 30px 0px 30px 0px;
	padding-bottom: 30px;
	-line-height: 96px;
	-margin: 0px 0px 60px 0px;
	-padding-bottom: 10px;
	}
h2 {
	font-size: 24px;
	text-transform:uppercase;
	margin: 0px 0px 0px 0px;
	color:#22373A;
	}
#post_mod h6{
	color:#22373A;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: .04em;
	font-weight: normal;
	margin: 0px;
}
#post_mod h6 span{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
h2.pagetitle {

	}

h3 {
	color:#22373A;
	}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	text-decoration: none;
	}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
	}

a:active {
  outline: none;
}
a {
  outline: none;
}
a, h2 a:hover, h3 a:hover {
	color: #06c;
	text-decoration: none;
	}

a:hover {
	}
	
p{
	color:#4b3e2a;
	line-height: 130%;
	letter-spacing: .05em;
	margin-top: 0px;
	text-align: justify;
	font-size: 26px;
	
}
p + p {
text-indent: 1.5em;
}
#caps p:first-letter {
font-size: 3.5em;
line-height: 1em;
font-weight: 400;
float: left;
margin: 0 0.107em 0 0;
}
#caps p:first-line {
font-weight: 800;
}
#caps p + p:first-letter {
font-size: 1em;
line-height: 1.25em;
float: none;
margin: 0;
}
#caps p + p:first-line {
font-weight: 400;
}

/* End Typography & Colors */



/* Begin Structure */

#ornament1{
	background: url(bg-orn.png) repeat-x;
	width: 100%;
	height: 19px;
	margin-top:0px;
	margin-bottom: 10px;

}
#ornament2{
	background: url(bg-orn.png) repeat-x;
	width: 100%;
	height: 19px;
	margin-top:70px;
	margin-bottom: 20px;

}
#end{
	width: 100%;
	height: 19px;
	margin-bottom: 20px;
	-padding-bottom: 20px;
	text-align: center;
}
#the_head{
	margin: 0px auto;
	padding: 0px;
	width: 871px; 
}
#82logo{
	width: 871px;
	height: 268px;
	
}
#nav{
	background: url(bg-orn2.png) repeat-x;
	width: 100&;
	height: 119px;
	margin-top:10px;
	margin-bottom: 30px;
	text-align:center;
	font-weight: bold;

}
#nav {
	margin: 0;
}
#nav ul{
	width: 995px;
	padding-top: 55px;
	margin: 0 auto;
}
#nav ul li{
	background: url(point.gif) no-repeat left;
	padding-left:20px;
	list-style: none;
	display: inline;
	margin: 0px 10px 0px 0px;
	list-style-type: none;
}
#nav ul li a{
	color: #4b3e2b;
	text-transform: uppercase;
	text-decoration: none;
	
}
#nav ul li a:hover{
	color: #4b3e2a;
	text-decoration: none;
	border-top: solid 3px #4b3e2a;
	//border-top: 0;
}
#page1 {
	margin: 0px auto;
	padding: 0px;
	width: 995px;
}
#page2 {
	margin: 0px auto;
	padding: 0px;
	width: 995px;
}
#header {
	}
#center_content a, #content a{
	color:#000;
	cursor: pointer;
	letter-spacing: 0px;
}

#center_content a:hover, #content a:hover{
	text-decoration: underline;
}
#contact-top {
	width:100%;
	float:left;
	font-size: 26px;
	display: block;
	margin: 20px auto;
	margin-bottom:90px;
	color: #4b3e2a;
}
#mail{
	width:40%;
	height:70px;
	background: url(compas.png) no-repeat left;
	float:left;
	padding-left:90px;
}
#mail a{
	color: #4b3e2a;
	text-decoration: none;
}
#mail a:hover{
	color: #4b3e2a;
	text-decoration: underline; 
}
#phone{
	width:50%;
	height:70px;
	background: url(phone.png) no-repeat center;
	float:left;
	text-align: right;
}
#wm_col1, #wm_col2, #wm_col3 {
	width: 275px;
	height: 175px;
	float: left;
	overflow: hidden;
	text-align: justify;
	line-height:22px;
}
#wm_col1 {
	margin: -25px 43px 0px 0px;
}
#wm_col2{
	margin: -25px 37px 0px 0px;
}
#wm_col3{
	margin: -25px 0px 0px 0px;
}
#welcome_message{
	width: 908px;
	height: 191px;
	margin-top: 20px;
	margin-left: 24px;
	padding: 20px;
}
#page_text{
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	text-align: left;
	margin-bottom: 30px;
}
#page_text2{
	width: 95%;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	margin-bottom: 30px;
	font-size: 26px;
	line-height: 130%;
	letter-spacing: .05em;
	overflow: hidden;
	
}
#nest-left{
	width:40%;
	float:left;
	
}
#my-div{
	width:50%;
	float:left;
	padding-left:90px;
}
#page_text2 h2{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #4b3e2a;
	margin: 0;
	margin-bottom: 10px;
	
}
#page_text2 a:link{
	display: block;
	text-align: left;
	font-size: 26px;
	color:#907F37;
}
#page_text2 a:hover{
	color: #4b3e2a;
}
#spacing{
	margin: 0px 40px 20px 300px;
	padding: 50px 0px 0px 0px;
}
#spacing-np{
	margin: 0px 40px 20px 60px;
	padding: 50px 0px 0px 0px;
}
#spacing_fun{
	margin: 0px 40px 20px 480px;
	padding: 175px 0px 0px 0px;
}

#footer #col2 a{
	font-style:italic;
	color:#000;
	cursor: pointer;
	letter-spacing: 0px;
}
#footer #col2 a:hover{
	color:#fff;
}
#post_mod{
	width: 940px;
	margin: 10px 0px 10px 25px;
}

#post_content {	
	height: 300px;
	padding: 10px 0px 10px 0px;
}
p.post_nav{
	text-align: right;
	margin-top: -23px;
}
#footer p{
	color: #FFF;
}
#box_footer{
	margin: 0px auto;
	padding: 0px;
	width: 955px;
}
#box_footer ul{
	margin: 4px 0px 0px 0px;
	padding: 0px;
	
}
#box_footer ul li{
	margin: 0px 0px 0px 0px;
	list-style: none;
}
#box_footer ul li a{
	color:#fff;
	display: block;
	width: 100%;
	padding: 6px 0px 8px 0px;
	border-bottom: dashed 1px #fff;
}
#box_footer ul li a:hover{
	color:#4B3E2B;
}
#box_footer #col1{
	width: 200px;
	height: 300px;
	margin-right: 21px;
	margin-top: 23px;
	float:left;
	
}
#box_footer #col2{
	width: 495px;
	height: 300px;
	margin-left: 0px;
	margin-right: 21px;
	margin-top: 23px;
	float:left;
}
#box_footer #col1 p{
	line-height: 20px;
}
#box_footer #col1 h1{
color:#97B3A9;
}
#input-last{
	width: 215px;
	margin: 0px 0px 0px 0px;
	padding: 4px;
	background: url(bg_light.png) repeat;
	border: 0 none;
}
#textarea{
	width: 930px;
	height: 100px;
	padding: 4px;
	background: url(bg_light.png) repeat;
	border: 0 none;
}
#label{
	width: 215px;
	margin: 0px 12px 0px 0px;
	padding: 0px 4px 0px 4px;
	float: left;
}
#label p{
	text-align: center;
	line-height: 12px;
	margin: 0px 0px 4px 0px;
	padding: 0px;
	
}
p.small_note{
	font-size: 10px;
	font-style: italic;
	letter-spacing: .04em
}
.navigation{
	float: left;
	width: 940px;
	height: 30px;
	font-size: 16px;
}
ol.commentlist{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#respond{
	float: left;
	width: 940px;
}
/* End Structure */

/* Begin Images */

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 0px;
	margin: 0 20px 0px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}


/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	text-align: center;
	}

#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit {
	padding: 1px;
	}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}
/* End Form Elements */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}
	
.screen-reader-text {
     position: absolute;
     left: -1000em;
}


a img {
	border: none;
	}


/* End Various Tags & Classes*/


/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
#end1 {
width: 204px;
height: 80px;
margin: 0 auto;
background: url(end.jpg) no-repeat center bottom;
margin-bottom: 50px; 
}