.gallery {
	margin: 0 auto;
	width: 960px;
	position: relative;
	background-color: white;
	padding: 5px;
	padding-bottom: 20px;
}
.gallery .holder {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.gallery .holder ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 30000px;
}
.gallery .holder ul li {
	float: left;
	width: 240px;
	padding: 0 1px 0 0;
}
.gallery .holder ul li img { display: block; }

/* vertical mode */
.gallery-vert { width: 240px; }
.gallery-vert .holder { height: 362px; }
.gallery-vert .holder ul { width: auto; }
.gallery-vert .holder ul li { float: none; }
.gallery-vert .holder ul li img {
	vertical-align: top;
	display: inline;
}
/* one item */
.gallery-one,
.gallery-vert-one { width: 240px; }
.gallery-vert-one .holder { height: 180px; }
.gallery-vert-one .holder ul { width: auto; }
.gallery-vert-one .holder ul li { float: none; }
.gallery-vert-one .holder ul li img {
	vertical-align: top;
	display: inline;
}
/* fade */
.gallery-fade { width: 240px; }
.gallery-fade .holder ul {
	width: 100%;
	height: 180px;
}
.gallery-fade .holder ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 180px;
}
.paging {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 100;
}
.paging li {
	padding: 0 10px 0 0;
	float: left;
}
.paging li a {
	width: 14px;
	height: 14px;
	display: block;
	background-color: red;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.paging li a.active {
	background-color: yellow;
	color: red;
}
.next,
.prev {
	position: absolute;
	right: 0px;
	top: 0;
	margin-top: 0px;
	width: 38px;
	height: 165px;
	background: url(right-sm.png) no-repeat;
	-background: none;
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='1/gallery/right-sm.png', sizingMethod='scale');
	z-index: 20;
	overflow: hidden;
	text-indent: -9999px;
	outline: none;
	cursor: pointer;
}
.next-disable { background: url(btn-nexu.png) no-repeat; }
.prev {
	background: url(left-sm.png) no-repeat;
	-background: none;
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='1/gallery/left-sm.png', sizingMethod='scale');
	right: auto;
	left: 0px;
}
.prev-disable { background: url(btn-prew.png) no-repeat; }
.control {
	font-size: 18px;
	line-height: 21px;
}